{% extends 'base.html.twig' %}

{% block title %}
    Add a new story
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 mt-5 p-3 shadow-4">

                <h2 class="text-center">
                    Add a new story
                </h2>

                <form class="pt-2" id="add-story-form" action="{{ path('send_story') }}" method="post">

                    <input type="hidden" name="token" value="{{ csrf_token('delete-item') }}"/>

                    <div class="form-outline mb-4">
                        <input class="form-control" type="text" id="title" name="title" value="" required/>
                        <label class="form-label" for="title">
                            Story title
                            <span class="text-danger">*</span>
                        </label>
                    </div>

                    <div class="form-outline mb-4">
                        <textarea class="form-control" id="content" rows="5" name="content" required></textarea>
                        <label class="form-label" for="content">
                            Your story
                            <span class="text-danger">*</span>
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input"
                            type="checkbox"
                            name="anonymous"
                            value=""
                            id="anonymous"
                            {% if app.user is empty %}
                               disabled
                           {% endif %}
                            checked/>
                        <label class="form-check-label" for="anonymous"> Anonymous story </label>
                    </div>

                    <button class="btn btn-success btn-block mt-4" type="submit">Submit</button>
                </form>

            </div>
        </div>
    </div>

{% endblock %}
