{% set currentPath = path(app.request.attributes.get('_route'),
	app.request.attributes.get('_route_params')) %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container">
		<a class="navbar-brand" href="{{ path('index') }}">
			<img src="/images/MyStories.svg" width="135">
		</a>
		<button class="navbar-toggler"
				type="button"
				data-mdb-toggle="collapse"
				data-mdb-target="#navbarNavAltMarkup"
				aria-controls="navbarNavAltMarkup"
				aria-expanded="false"
				aria-label="Toggle navigation">
			<i class="fas fa-bars"></i>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-link {% if currentPath == '/' %} active {% endif %}" aria-current="page" href="{{ path('index') }}">Home</a>
				<a class="nav-link {% if currentPath == '/waiting-room' %} active {% endif %}" href="{{ path('waiting_room') }}">Waiting room</a>
				<a class="nav-link {% if currentPath == '/most-popular' %} active {% endif %}" href="{{ path('most_popular') }}">Most popular</a>

			</div>
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">

				<!-- Language dropdown -->
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle disabled"
					   href="#"
					   id="navbarDropdown"
					   role="button"
					   data-mdb-toggle="dropdown"
					   aria-expanded="false">
						<i class="united kingdom flag m-0"></i>
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li>
							<a class="dropdown-item" href="#">
								<i class="united kingdom flag"></i>
								English
								<i class="fa fa-check text-success ms-2"></i>
							</a>
						</li>
						<li><hr class="dropdown-divider" /></li>
						<li>
							<a class="dropdown-item" href="#"><i class="poland flag"></i>Polski</a>
						</li>
						<li>
							<a class="dropdown-item" href="#"><i class="china flag"></i>中文</a>
						</li>
						<li>
							<a class="dropdown-item" href="#"><i class="japan flag"></i>日本語</a>
						</li>
						<li>
							<a class="dropdown-item" href="#"><i class="germany flag"></i>Deutsch</a>
						</li>
						<li>
							<a class="dropdown-item" href="#"><i class="france flag"></i>Français</a>
						</li>
						<li>
							<a class="dropdown-item" href="#"><i class="spain flag"></i>Español</a>
						</li>
						<li>
							<a class="dropdown-item" href="#"><i class="russia flag"></i>Русский</a>
						</li>
						<li>
							<a class="dropdown-item" href="#"><i class="portugal flag"></i>Português</a>
						</li>
					</ul>
				</li>
				<!-- Language dropdown -->

				{% if app.user %}

				<!-- Notification dropdown -->
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle hidden-arrow disabled"
					   href="#"
					   id="navbarDropdownMenuLink"
					   role="button"
					   data-mdb-toggle="dropdown"
					   aria-expanded="false">
						<i class="fas fa-bell"></i>
						<span class="badge rounded-pill badge-notification bg-danger">1</span>
					</a>
					<ul class="dropdown-menu dropdown-menu-end"
					    aria-labelledby="navbarDropdownMenuLink">
						<li>
							<a gtm-id="Notifications" class="dropdown-item text-wrap" data-notification-date="11/16/2021 10:00" href="#" rel="nofollow">
								<p class="small text-uppercase mb-2">11/16/2021</p>
								<p class="mb-0">Test desc</p>
							</a>
						</li>
					</ul>
				</li>
				<!-- Notification dropdown -->

				<!-- Account dropdown -->
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle d-flex align-items-center"
							href="#"
							id="navbarDropdownMenuLink"
							role="button"
							data-mdb-toggle="dropdown"
							aria-expanded="false">
						<img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp"
								class="rounded-circle"
								height="22"
								alt="Portrait of a Woman"
								loading="lazy"/>
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<li>
							<a class="dropdown-item disabled" href="#">My profile</a>
						</li>
						<li>
							<a class="dropdown-item disabled" href="#">Settings</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a>
						</li>
					</ul>
				</li>
				<!-- Account dropdown -->

				{% else %}

					<!-- Login/register dropdown -->
					<li class="nav-item me-3 me-lg-0 dropdown">
						<a class="nav-link dropdown-toggle"
								href="#"
								id="navbarDropdown"
								role="button"
								data-mdb-toggle="dropdown"
								aria-expanded="false">
							<i class="fas fa-user"></i>
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li>
								<a class="dropdown-item" href="{{ path('app_login') }}">Log in</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('app_register') }}">Sign up</a>
							</li>
						</ul>
					</li>
					<!-- Login/register dropdown -->

				{% endif %}

			</ul>
		</div>
	</div>
</nav>