{% extends 'base.html.twig' %}

{% block title %}Hello SiteController!{% endblock %}

{% block body %}

    <div class="container mt-5 mb-5">
        <div class="row justify-content-between">
            <div class="col-md-9">
                <div class="container-fluid p-0">
                    <div class="row">
                        <div class="col-md-11">

                            {% if stories is empty %}

                                <h4 class="text-center text-muted">
                                    No stories could be found.<br>
                                    Come back here later.
                                </h4>

                            {% else %}

                            {% for item in stories %}

                                <div class="row story-card justify-content-between shadow-3 pt-4 pb-2 mt-4" story-id="{{ item.id }}">
                                    <div class="col-md-auto">
                                        <h3>
                                            {{ item.title }}
                                        </h3>
                                    </div>
                                    <div class="col-md-auto text-end text-muted">
                                        {{ item.addedAt|date }}
                                    </div>
                                    <div class="col-md-12">
                                        <p class="story-content mb-0">
                                            {{ item.content }}
                                        </p>
                                        <div class="row mt-2 story-buttons">
                                            <div class="col-md-4 add-plus-section">
                                                <button type="button" class="btn btn-success btn-floating add-plus">
                                                    <i class="fas fa-plus"></i>
                                                </button>
                                                <span>
                                                    {{ item.rating }}
                                                </span>
                                            </div>
                                            <div class="col-md-4 text-center mt-2">
                                            </div>
                                            <div class="col-md-12 comment-section d-none">
                                                {% if (app.user) %}
                                                <form class="mt-4 add-comment">
                                                    <div class="form-outline">
                                                        <textarea class="form-control" id="content" name="content" rows="4" required></textarea>
                                                        <label class="form-label" for="content">Message</label>
                                                    </div>
                                                    <div class="w-100 text-end">
                                                        <button type="submit" class="btn btn-success mt-2">Submit</button>
                                                    </div>
                                                </form>
                                                {% endif %}
                                                <div class="comments-list"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                {% endfor %}

                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="shadow-3 p-2">
                    <a href="{{ path('add_story') }}" rel="nofollow" class="btn btn-success w-100 mt-3 mb-3">
                        Add a new story
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
