{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}

    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-5 mt-5 p-4 shadow-3">

                <h1 class="text-center">
                    Log in
                </h1>

                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <form class="pt-2" action="{{ path('app_login') }}" method="post">
                    <div class="form-outline mb-4">
                        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}"/>
                        <label class="form-label" for="username">Login</label>
                    </div>

                    <div class="form-outline mb-4">
                        <input class="form-control" type="password" id="password" name="_password"/>
                        <label class="form-label" for="password">Password</label>
                    </div>

                    {# If you want to control the URL the user is redirected to on success
        <input type="hidden" name="_target_path" value="/account"/> #}

                    <button class="btn btn-success btn-block" type="submit">Login</button>
                </form>

            </div>
        </div>
    </div>

{% endblock %}
