{% block body %}

	{% if comments is empty %}

		<h5>
			No comments were found
		</h5>

	{% else %}

		{% for item in comments %}

		<div class="shadow-4 col-md-12 mt-2 p-2">
			<div class="row">
				<div class="col-md-auto">
					<img src="/images/upload/{{ item.addedBy.image }}" class="rounded-pill" style="width: 50px;">
				</div>
				<div class="col-md-10">
					<b>
						{{ item.addedBy.username }}
					</b>
					<p>
						{{ item.content }}
					</p>
				</div>
			</div>
		</div>

		{% endfor %}

	{% endif %}

{% endblock %}
