@media only screen and (min-width: 1400px) {
    .container {
        max-width: 1020px;
    }
}
@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1020px;
    }
}
@media only screen and (max-width: 576px) {
    .comments-list .col-md-10 b:first-child {
        margin-top: -35px;
        position: absolute;
        margin-left: 60px;
    }
}
.story-content {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    line-height: 1.6;
}
.full-story-content {
    -webkit-line-clamp: unset;
}
.add-plus-section span {
    top: -5px;
    position: relative;
    left: 5px;
}