{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-5 mt-5 p-4 shadow-3">

            <h1 class="text-center">
                Sign up
            </h1>

            {% for flashError in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flashError }}</div>
            {% endfor %}

            {{ form_start(registrationForm) }}

                <div class="form-outline mb-4">
                    {{ form_widget(registrationForm.username, {
                        'attr': {'class': 'form-control'}
                    }) }}
                    <label class="form-label" for="registration_form_username">Login:</label>
                </div>
                <div class="form-outline mb-4">
                    {{ form_widget(registrationForm.email, {
                        'attr': {'class': 'form-control'}
                    }) }}
                    <label class="form-label" for="registration_form_email">E-mail:</label>
                </div>
                <div class="form-outline mb-4">
                    {{ form_widget(registrationForm.plainPassword, {
                        'attr': {'class': 'form-control'}
                    }) }}
                    <label class="form-label" for="registration_form_plainPassword">Password:</label>
                </div>
                <div class="form-outline mb-3">
                    {{ form_widget(registrationForm.agreeTerms, {
                        'attr': {'class': 'form-check-input'}
                    }) }}
                    <label class="form-label" for="registration_form_agreeTerms">Accept rules</label>
                </div>

                <button type="submit" class="btn btn-success btn-block">Register</button>

            {{ form_end(registrationForm) }}

            </div>
        </div>
    </div>

{% endblock %}
